@charset "utf-8";
/* CSS Document */
.body{
	background: #FFFFFF;
	font-size: 22px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
.container{
	max-width: 960px;
	margin: 0px auto;
}
.logo img{
	max-width: 50px;
	height: auto;
}
.logo{
	padding: 5px; 0px;
}
.cha{
	background-color: rgb(248, 247, 247);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}
.menu{
	display: flex;
    list-style: none;
    margin: 5px;
    padding: 0px;
    justify-content: center;
}
.menu li{
	position: relative;/* làm chuẩn*/
}
.menu li a{
	color: #000000;
	display: block;
	padding: 15px 25px;
	text-decoration: none; /*bỏ gạch chân*/
}
.menu ul.menucon{
	position: absolute;
	background: #FFFFFF;
	padding: 5px 0px;
	list-style: none;
	width: 200px;
	border: 1px solid #D7D7D7;
	display: none;/*ẩn menu*/
}
/*tác động vào thẻ a của menucon*/
.menu ul.menucon a{
	padding: 10px 15px;
	border-bottom: 1px solid #D7D7D7;
	left: 0px;
}
.menu ul.menucon li:hover a{
	border-bottom: 1px solid #55BDFF;
}
/* chọn li cuối cùng*/
.menu ul.menucon li:last-child a{
	border: none;
}
/* show menucon*/
.menu li:hover ul.menucon{
	display: block;
}
.menu>li>a{
	position: relative;
}
/*thiết lập boder khi hover*/
.menu>li>a::before{
	content: "";
	height: 4px;
	width: 0px;
	background: #55BDFF;
	position: absolute;
	bottom: 0px;
	left: 0px; 
	transition: all 0.5s ease-out;
}
.menu>li:hover>a::before{
	width: 100%;
}
.menu>li.has-child::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f107";
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 16px 0px;
}
/*hết menu*/
.spam{
	max-width: 960px;
    margin: 100px auto;
    display: block;
    padding: 5px;
	text-align: center;
	background-color: rgb(248, 247, 247);
}
.spam img{
	max-width: 500px;
	height: auto;
}
.home{
	max-width: 960px;
	margin: 0px auto;
}
.home li{
	list-style: none;
	text-align: center;
}
.tieude{
	text-align: center;@charset "utf-8";
/* CSS Document */
.body{
	background: #FFFFFF;
	font-size: 22px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
.container{
	max-width: 960px;
	margin: 0px auto;
}
.logo img{
	max-width: 50px;
	height: auto;
}
.logo{
	padding: 5px; 0px;
}
.cha{
	background-color: rgb(248, 247, 247);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}
.menu{
	display: flex;
    list-style: none;
    margin: 5px;
    padding: 0px;
    justify-content: center;
}
.menu li{
	position: relative;/* làm chuẩn*/
}
.menu li a{
	color: #000000;
	display: block;
	padding: 15px 25px;
	text-decoration: none; /*bỏ gạch chân*/
}
.menu ul.menucon{
	position: absolute;
	background: #FFFFFF;
	padding: 5px 0px;
	list-style: none;
	width: 200px;
	border: 1px solid #D7D7D7;
	display: none;/*ẩn menu*/
}
/*tác động vào thẻ a của menucon*/
.menu ul.menucon a{
	padding: 10px 15px;
	border-bottom: 1px solid #D7D7D7;
	left: 0px;
}
.menu ul.menucon li:hover a{
	border-bottom: 1px solid #55BDFF;
}
/* chọn li cuối cùng*/
.menu ul.menucon li:last-child a{
	border: none;
}
/* show menucon*/
.menu li:hover ul.menucon{
	display: block;
}
.menu>li>a{
	position: relative;
}
/*thiết lập boder khi hover*/
.menu>li>a::before{
	content: "";
	height: 4px;
	width: 0px;
	background: #55BDFF;
	position: absolute;
	bottom: 0px;
	left: 0px; 
	transition: all 0.5s ease-out;
}
.menu>li:hover>a::before{
	width: 100%;
}
.menu>li.has-child::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f107";
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 16px 0px;
}
/*hết menu*/
.spam{
	max-width: 960px;
    margin: 100px auto;
    display: block;
    padding: 5px;
	text-align: center;
	background-color: rgb(248, 247, 247);
}
.spam img{
	max-width: 500px;
	height: auto;
}
.home{
	max-width: 960px;
	margin: 0px auto;
}
.home li{
	list-style: none;
	text-align: center;
}
.tieude{
	text-align: center;
	color: #00CCFF;
	font-size: 24px;
}
.hinh1 img{
	max-width: 80%;
	margin: 0px auto;
}
/*các user*/
.user1{
	font-size: 200px;
	color: #000000;
	max-width: 960px;
	margin: 0px auto;
	border: 4px solid #55BDFF;
	display: inline-block;
	text-align: center;
}
.user1 a{
	font-size: 18px;
	display: block;
	margin: 0px auto;
	border: 2px solid #55BDFF;
	background-color: #EEEEEE;
}
.user1 a h1{
	color: #55BDFF;
	margin: 5px 5px;
}
.user1 a h3{
	color: #6699FF;
	margin: 5px auto;
	padding: 5px 5px;
	text-decoration: underline;
}
.user{
	max-width: 1200px;
	margin: 0px auto;
}
