* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column;

}

/* ---===///thiết lập main-menu\\\===--- */
.header {
    width: 100%;
    position: fixed;
    flex: 1 1 auto;
    border-bottom: 2px solid rgb(233, 233, 233);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

nav {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 70px;
    height: auto;
}

.main-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.main-menu li {
    position: relative;
    padding: 20px 20px;
}

.main-menu>li>a {
    display: block;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #47B5FF;
    font-weight: bold;
    flex-wrap: nowrap;
}

.main-menu>.style {
    padding: 5px 10px;
    background-color: #47B5FF;
    box-shadow: 5px 5px 8px #47B5FF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.main-menu .style>a {
    color: #fff;
}

/* ---///hover\\\--- */
.main-menu>li:hover>a {
    color: #0096FF;
}

.main-menu li:hover .sub-menu {
    display: block;
}

.main-menu .style:hover>a {
    color: #fff;
}

.style:hover {
    transition: all 0.3s ease-in-out;
    background-color: #00D7FF;
    box-shadow: 6px 6px 8px #00D7FF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* ---===///thiết lập sub-menu\\\===--- */
.sub-menu {
    position: absolute;
    width: 200px;
    list-style: none;
    margin-top: 18px;
    display: none;
    border: 2px solid rgb(204, 204, 204);
    padding: 0px 5px;

}

.sub-menu li {
    padding: 5px 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.sub-menu>li>a {
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: #47B5FF;

}

.main-menu li .sub-menu li:last-child {
    border: none;
}

.main-menu li .sub-menu li:hover {
    border-bottom: 3px solid rgb(243, 243, 243);
}

.main-menu li .sub-menu li:hover a {
    color: #0096FF;
}

/* ---===///thiết lập Bg-img\\\===--- */
#bg-img {
    background: url(Logo/bsgd-1512466079893.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    background-position-y: -300px;
}

#head{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    background-color: #AFEEEE;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 56px;
}

#hear {
    border-radius: 15px;
    border: 2px solid #57d5ff;
    color: 	#fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    background-color:#2799f4;
    box-shadow: 10px 5px 10px #00BFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#head:hover{
    border: 2px solid #99FF66;
    background-color: #c4fdc4;
    box-shadow: 10px 5px 10px#43ff43;
}
#hear:hover{
    border: 2px solid #00BFFF;
    background-color: 	#5ccbf7;
    box-shadow: 10px 5px 10px #00a4db;
}
/* ---===///thiết lập .sticky\\\===--- */
#wrapper .sticky {
    z-index: 1;
    background-color: #fff;
    transition: all 0.8s ease-in;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -ms-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
}

.sticky .logo img {
    width: 50px;
    height: auto;
    padding: 5px;
}

#wrapper .sticky .main-menu>li {
    padding: 9px 20px;
}

#wrapper .sticky .main-menu>.style {
    padding: 5px 0px;
}

#wrapper .sticky .main-menu li a {
    font-size: 14px;
}

#wrapper .sticky .main-menu .sub-menu {
    margin-top: 9px;
    background-color: #fff;
}

/* ---===///thiết lập wr-content\\\===--- */
#wp-content {
    display: flex;
    margin-top: 15px;
}

#wp-content .content {
    flex-basis: 80%;
    min-height: 600px;
    background-color: rgb(224 241 243);
    line-height: 1.5;
}

.text-indent {
    text-indent: 10px;
}

.list-text>li {
    padding: 5px 0px;
    list-style: none;
    font-size: 18px;
    left: 0;
}

.text-style {
    display: inline-block;
}

.text-style span {
    font-weight: bold;
}

.list-text .fa-circle-check {
    color: #00CC33;
    padding: 0px 5px;
    align-items: center;
    font-weight: inherit;
}

#wp-content .content p {
    font-size: 20px;
}

.content .hinh1 {
    display: block;
    max-width: 100%;
    background: url(Img/3.jpg) no-repeat;
    min-height: 400px;
    background-size: cover;
    margin: 15px 0px;
    background-position-y:-90px ;
}

/* ---===///thiết lập user\\\===--- */
.content .user {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content .user .iduser {
    display: block;
    flex-basis: 20%;
    margin: 10px 0px;
    text-align: center;
    border: 2px solid #dddddd;
    min-height: 200px;
    background-color: #F2F2F2;
    box-shadow: 5px 8px 8px #0096FF;
}

.user .iduser .fa-user-nurse {
    font-size: 80px;
    color: #0096FF;
    margin: 10px;

}

.user .iduser>h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px 3px;
}

.user .iduser>p {
    font-size: 11px;
    color: #0000FF;
}

.user .iduser:hover {
    background-color: #87CEFA;
    box-shadow: 5px 8px 8px #87CEFA;
}

.user .iduser:hover .fa-user-nurse {
    color: #0000FF;
}

/* ---===///thiết lập container\\\===--- */
.container>ul>li {
    list-style: none;
    padding: 2px 0px;
    font-weight: bold;
    font-size: 20px;
    color: #8758FF;
}

.container>ul>li>.fa-check {
    color: #00CC33;
    padding: 0px 10px;
}

/* ---===///thiết lập device\\\===--- */
.device>.sinhhoa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 10px 10px;
}

.device .sinhhoa>li {
    flex-basis: 32%;
    padding: 15px 10px;
    border: 2px solid #CCCCCC;
    text-align: center;
    background-color: #F8F8FF;
}

.device .sinhhoa li img {
    width: 250px;
    height: 150px;
}

/* ---===///thiết lập SH\\\===--- */
#sh {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
}

ol.sh {
    margin: 5px 0px;
    margin-left: 30px;
}

.sh li {
    font-weight: bold;
    text-transform: uppercase;
}

.lab span img {
    max-width: 400px;
    min-height: 200px;
    margin-right: 50px;
}

/* ---===///thiết lập sidebar\\\===--- */
.sidebar {
    flex-basis: 20%;
    margin: 0px 20px;
    font-weight: bold;
    background-color: #B0E0E6;
}

.sidebar h1 {
    margin: 15px 0px;
    background-color: #4db2e1;
    padding: 15px 0px;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    color: white;
    border-bottom: 5px solid red;
}

.sidebar .list {
    list-style: none;
    padding: 0;
}

.sidebar .list li {
    margin: 10px 0px;
    padding: 10px 0px;
    border: 2px solid #d6d6d6;
    background-color: #8ad8ff;
}

.sidebar .list li a {
    padding-left: 30px;
    text-decoration: none;
    color: #6A5ACD;
    font-size: 25px;
}
.sidebar .list li:hover{
    margin: 10px 0px;
    padding: 10px 0px;
    border: 2px solid #b8b8b8;
    background-color: #4fc1fa;
    border-left: 10px solid red;
    color: white;
}
.sidebar .list li:hover a{
    color: white;
}
#product{
    width: 100%;
}
#product .item li{
    padding: 5px 0px;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    list-style: none;
    border: 2px solid 	#9999FF;
    background-color: #FFF;
}
#product .item li img{
    width: 300px;
    display: block;
    text-align: center;
    margin: 0px auto;
    min-height: 200px;
}
/* ===***---///style-all\\\---***===*/
.style-h1 {
    margin: 10px;
    text-align: center;
    background-color: #4db2e1;
    padding: 15px 0px;
    text-transform: uppercase;
    color: #EEEEEE;
    margin-bottom: 15px;
    border-right: 15px solid red;
}

.text-p {
    line-height: 1.5;
    text-indent: 10px;
}

.style-h3 {
    font-size: 15px;
}

.style-title-h3 {
    padding: 0px 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #4db2e1;
    border-left: 10px solid red;
}

/* ===***---///style-Phone\\\---***===*/
#take-care-of {
    margin: 15px;
    position: fixed;
    right: 15px;
    bottom: 20px;
}

#call {
    display: flex;
    border-radius: 15px;
    background-color: #707070;
    padding-bottom: 8px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#call>p {
    display: none;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1em;
    padding: 15px;
    color: #fff;
}

#call .fa-phone {
    background-color: #F08080;
    font-size: 20px;
    color: #FFF;
    border: 2px solid #FF0000;
    border-radius: 15px;
    padding: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#call:hover {
    background-color: #00CC33;
}

#call:hover>p {
    display: block;
}

#call:hover .fa-phone {
    background-color: #FF0000;
    position: relative;
    top: 10px;
}
/* ===***---///style-MARQUEE\\\---***===*/
.effect {
    color: #fff;
    background-color: red;
    font-size: 1.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-left: 20px solid #E9967A;
    border-right: 20px solid #E9967A;
}