* {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;

}

/* ---===///thiết lập main-menu\\\===--- */
.header {
    width: 100%;
    position: fixed;
    flex: 1 1 auto;
    border-bottom: 2px solid rgb(233, 233, 233);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

nav {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 70px;
    height: auto;
}

.main-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.main-menu li {
    position: relative;
    padding: 20px 20px;
}

.main-menu>li>a {
    display: block;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #47B5FF;
    font-weight: bold;
    flex-wrap: nowrap;
}

.main-menu>.style {
    padding: 5px 10px;
    background-color: #47B5FF;
    box-shadow: 5px 5px 8px #47B5FF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.main-menu .style>a {
    color: #fff;
}

/* ---///hover\\\--- */
.main-menu>li:hover>a {
    color: #0096FF;
}

.main-menu li:hover .sub-menu {
    display: block;
}

.main-menu .style:hover>a {
    color: #fff;
}

.style:hover {
    transition: all 0.3s ease-in-out;
    background-color: #00D7FF;
    box-shadow: 6px 6px 8px #00D7FF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* ---===///thiết lập sub-menu\\\===--- */
.sub-menu {
    position: absolute;
    width: 200px;
    list-style: none;
    margin-top: 18px;
    display: none;
    border: 2px solid rgb(204, 204, 204);
    padding: 0px 5px;

}

.sub-menu li {
    padding: 5px 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.sub-menu>li>a {
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: #47B5FF;

}

.main-menu li .sub-menu li:last-child {
    border: none;
}

.main-menu li .sub-menu li:hover {
    border-bottom: 3px solid rgb(243, 243, 243);
}

.main-menu li .sub-menu li:hover a {
    color: #0096FF;
}

/* ---===///thiết lập Bg-img\\\===--- */
#bg-img {
    background: url(Img/7.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    background-position-y: -200px;
}

#hear {
    max-width: 960px;
    margin: 0px auto;
    padding: 25px 0px;
}

#hear>h1 {
    color: #33CCFF;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

/* ---===///thiết lập Bg-img\\\===--- */
#wp-content {
    display: flex;
    margin-top: 15px;
}

/* ---===///thiết lập .sticky\\\===--- */
#wrapper .sticky {
    background-color: #fff;
    transition: all 0.8s ease-in;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -ms-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
}

.sticky .logo img {
    width: 50px;
    height: auto;
    padding: 5px;
}

#wrapper .sticky .main-menu>li {
    padding: 9px 20px;
}

#wrapper .sticky .main-menu>.style {
    padding: 5px 0px;
}

#wrapper .sticky .main-menu li a {
    font-size: 14px;
}

#wrapper .sticky .main-menu .sub-menu {
    margin-top: 9px;
    background-color: #fff;
}

/* ---===///thiết lập wr-content\\\===--- */
#wp-content .content {
    flex-basis: 80%;
    min-height: 600px;
    background-color: #D6EFED;
    padding: 20px;
    line-height: 1.5;
}

.text-indent {
    text-indent: 20px;
}

.list-text>li {
    padding: 5px 0px;
    list-style: none;
    font-size: 24px;
}

.text-style {
    display: inline-block;
}

.text-style span {
    font-weight: bold;
}

.list-text .fa-circle-check {
    color: #00CC33;
    padding: 0px 5px;
}

#wp-content .content p {
    font-size: 20px;
}

.content .hinh1 {
    display: block;
    max-width: 100%;
    background: url(Img/3.jpg) no-repeat;
    min-height: 400px;
    background-size: cover;
    margin: 15px 0px;
}
/* ---===///thiết lập user\\\===--- */
.content .user {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .user .iduser {
    display: block;
    flex-basis: 20%;
    margin: 10px 0px;
    text-align: center;
    border: 2px solid #dddddd;
    min-height: 200px;
    background-color: #F2F2F2;
    box-shadow: 5px 8px 8px #0096FF;
}

.user .iduser .fa-user-nurse {
    font-size: 80px;
    color: #0096FF;
    margin: 10px;

}

.user .iduser>h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.user .iduser>p {
    font-size: 11px;
    color: #5CB8E4;
}

/* ---===///thiết lập container\\\===--- */
.container>ul>li {
    list-style: none;
    padding: 2px 0px;
    font-weight: bold;
    font-size: 16px;
    color: #8758FF;
}
.container>ul>li>.fa-check{
    color: #00CC33;
    padding: 0px 10px;
}
.lab .device{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.device .au680{
    flex-basis: 20%;
    background-color: #00D7FF;
}
.device .au680 img{
    max-width: 250px;
}

/* ===***---///style-all\\\---***===*/
.style-h1 {
    margin: 10px;
    text-align: center;
    background-color: #87A2FB;
    padding: 15px 0px;
    text-transform: uppercase;
    color: #EEEEEE;
    margin-bottom: 15px;
    border-right: 15px solid red;
}

.text-p {
    line-height: 1.5;
    text-indent: 20px;
}