body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    width: 960px;
    margin: 0px auto;
    justify-content: center;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
}

#header .logo img {
    width: 50px;
    height: auto;
}

/* ///===setup main-menu===\\\ */
.main-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.main-menu li a {
    margin: 0px 15px;
    text-decoration: none;
    color: #FFCC33;
}

.main-menu li:hover a {
    color: #00CCFF;
}

.main-menu li:first-child {
    box-shadow: 3px 5px #33CCFF;
    background-color: #00CCFF;
}

.main-menu li:first-child a {
    color: #FFFFFF;
}
/* ===+++///setup pc-->mobi max-width:1920px\\\+++=== */
@media (max-width:1199.98px){
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #header {
        display: flex;
        width: 100%;
        margin: 0px auto;
        justify-content: center;
        box-sizing: border-box;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    #header .logo img {
        width: 50px;
        height: auto;
    }
    
    /* ///===setup main-menu===\\\ */
    .main-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
    }
    
    .main-menu li a {
        margin: 0px 15px;
        text-decoration: none;
        color: #FFCC33;
    }
    
    .main-menu li:hover a {
        color: #00CCFF;
    }
    
    .main-menu li:first-child {
        box-shadow: 3px 5px #33CCFF;
        background-color: #00CCFF;
    }
    
    .main-menu li:first-child a {
        color: #FFFFFF;
    }
}
/* ===+++///setup pc-->mobi max-width:99189px\\\+++=== */
@media (max-width:991.98px){
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #header {
        display: flex;
        width: 100%;
        margin: 0px auto;
        justify-content: center;
        box-sizing: border-box;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    #header .logo img {
        width: 30px;
        height: auto;
    }
    
    /* ///===setup main-menu===\\\ */
    .main-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0px 0px;
    }
    
    .main-menu li a {
        margin: 0px 15px;
        text-decoration: none;
        font-size: 13px;
        color: #FFCC33;
    }
    
    .main-menu li:hover a {
        color: #00CCFF;
    }
    
    .main-menu li:first-child {
        box-shadow: 3px 5px #33CCFF;
        background-color: #00CCFF;
    }
    
    .main-menu li:first-child a {
        color: #FFFFFF;
    }
}
/* ===+++///setup pc-->mobi max-width:99189px\\\+++=== */
@media (max-width:767.98px){
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #header {
        display: flex;
        width: 100%;
        margin: 0px auto;
        justify-content: center;
        box-sizing: border-box;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    #header .logo img {
        width: 30px;
        height: auto;
    }
    
    /* ///===setup main-menu===\\\ */
    .main-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0px 0px;
    }
    
    .main-menu li a {
        margin: 0px 5px;
        text-decoration: none;
        font-size: 10px;
        color: #FFCC33;
    }
    
    .main-menu li:hover a {
        color: #00CCFF;
    }
    
    .main-menu li:first-child {
        box-shadow: 3px 5px #33CCFF;
        background-color: #00CCFF;
    }
    
    .main-menu li:first-child a {
        color: #FFFFFF;
    }
}